/* Buttons */
[class^="btn"] {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #ccc;
	height: 30px;
	color: #fff;
	cursor: pointer;
	padding: 3px 6px 3px 6px;
	border-radius: 2px;
	outline: none;
	font-size: 14px;
	line-height: 25px;
	margin: 2px 0;
	font-family: Arial, Helvetica, sans-serif;
        -webkit-transition: .2s ease-in-out all;
        -moz-transition: .2s ease-in-out all;
        -ms-transition: .2s ease-in-out all;
        -o-transition: .2s ease-in-out all;
        transition: .2s ease-in-out all;
	.build_button(@btn--default-text,@btn--default);
}
.btn--blue{
	.build_button(@btn--blue);
}
.btn--red{
	.build_button(@btn--red);
}
.btn--orange{
	.build_button(@btn--orange);
}
.btn--green{
	.build_button(@btn--green);
}
.btn--black{
	.build_button(@btn--black);
}
