@btn--default: #ddd;
@btn--default-text: #333 !important;
@btn--blue: #00acee;
@btn--orange: #faa226;
@btn--red: #d53d2c;
@btn--green: #3dbb38;
@btn--black: #303030;
@alert--success: #3dbb38;
@alert--warning: #faa226;
@alert--error: #d53d2c;
@label--blue: #00acee;
@label--orange: #faa226;
@label--red: #d53d2c;
@label--green: #3dbb38;
@label--black: #303030;
