.less-input(@color) {
  border-color: @color;
    &:focus,
    &:active {
      border-color: darken(@color,12%);
    }
}
[class^="input"], [class*="input"], [class^="select"], [class*="select"] {
	color: @color-black;
  	padding: @font_lineheight/2;
}
.input {
	.less-input(@color-default);
}
.input-blue {
	.less-input(@color-blue);
}
.input-green {
	.less-input(@color-green);
}
.input-orange {
	.less-input(@color-orange);
}
.input-red {
	.less-input(@color-red);
}
.input-black {
	.less-input(@color-black);
}