.less-label(@color) {
	color: #FFFFFF;
	background-color: @color;
  	border-color: darken(@color,12%);
}
[class^="label"], [class*="label"] {
	padding: @font_lineheight/4;
}
.label {
	.less-label(@color-default);
	color: @color-black !important;
}
.label-blue {
	.less-label(@color-blue);
}
.label-orange {
	.less-label(@color-orange);
}
.label-red {
	.less-label(@color-red);
}
.label-green {
	.less-label(@color-green);
}
.label-black {
	.less-label(@color-black);
}